/********************
YOUR STYLES
*******************/

/* Layout */
* { box-sizing: border-box; }

section {
  /* Fallback: Floated in No JS */
  float: left;
 padding: 1em;
    

}

/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
    
}

article {
    margin: 0 auto;
    padding: 10px;
    
}

h1 {
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-family: 'Josefin Sans', sans-serif; 
    color: darkslategrey;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: right;
    font-size: .8em;
    margin: auto;
}

p{
font-family: 'Questrial', sans-serif;
    text-align: left;
    line-height: 1.8em;
    font-size: .8em;
    margin: 5em;
    color: darkslategrey;
    
}


/* Masonry Styling */
section {
  background: rgba(183, 182, 182, 0.75);
  /* vertical space between */
  margin-bottom: 10px;
  width: 200px;
}

.tall {
  height: 600px;
}

.med {
  height: 400px;
}

.short {
  height: 200px;
}

/********************
MEDIA QUERIES
*******************/



/* Mobile */

@media (max-width: 480px) {
    
    p{
font-family: 'Questrial', sans-serif;
    text-align: left;
    line-height: 1.8em;
    font-size: .6em;
    margin: auto;
}

    

}

/* Tablet */

@media (min-width: 768px) {
   
    p{
font-family: 'Questrial', sans-serif;
    text-align: left;
    line-height: 1.8em;
    font-size: .7em;
    margin: 2em;
}        
    

    
}


/* Desktop */

@media (min-width: 1024px) {

}



